.left-sidebar {
    @extend %margin-button-large;
    .panel:last-of-type {
        margin: 0;
    }
    margin-left: -15px;


    .vertical-slider__image{
        width: 100%;
        height: 10px;
    }

    .item{
        width: 100%;
        height: 300px !important; 
    }

    .carousel {
        margin-bottom: 35px;
    }

}

.vertical-slider {
    border-radius: 4px;
    overflow: hidden;
    &__image {
        width: 100%;
        
    }
}

.user-login {
    position: relative;
    &__tabs {
        position: absolute;
        top: 0;
        right: 15px;
        border: none;
        a {
            background-color: transparent !important;
            border: none !important;
            color: $color-gray;
            padding: 14px 5px 11px !important;
        }
        .active a {
            color: $color-light !important;
        }
    }
}


.information{
    

    &-title{
        letter-spacing: 3px;
        color: $color-accent ;
        font-family: $font-header;

        
        @media (min-width: 576px){
            margin: -9.99999999px 0 1em 0;
            font-size: 3rem;
        }
            
            @media (max-width: 575.8px){
                margin: 0 0 1em;
                font-size: 2rem;
            }

        }
    
                
        

    &-body{
        font-size: 1.3em;
        font-family: "PT Sans", sans-serif;
        color: $color-gray-dark;

    }
 

}


.months{
   margin-top: 20px; 
   margin-bottom: 35px;

   &-item{

    font-size: 1.5em;
    color: $color-primary;
   


       &__title{
        font-size: 1.3em;
        text-align: center; 


        &--span{
            color: $color-accent;
        }
        
       }
   }

   
}

.btn-group{
   border: 1px solid black;
}

.name{
    margin-top: 60px;

    &-title{
        letter-spacing: 3px;
        color: $color-accent ;
        font-family: $font-header;

        
        @media (min-width: 576px){
            margin: -9.99999999px 0 1em 0;
            font-size: 3rem;
        }
            
            @media (max-width: 575.8px){
                margin: 0 0 1em;
                font-size: 2rem;
            }

        }
}

.caret{
    width: 10px;
    height: 8px;
}

.dropdown-menu{
    background-color: $color-dark;
}

.photo{

    &-item{
        border: 3px solid black;
        height: 380px;

        @include sm {
            height: 350px;     
        }

        @include xs {
            height: 200px;
        }

        &__img{
            height: 100%;
            width: 100%;
        }
    }
}

#div0,
#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8,
#div9,
#div10,
#div11{
    display: none;
}


.calendar-container {
  background-color: $color-accent;
  margin-top: 40px;
  display: grid;  
  text-align: right;
  border: 2px solid black;
  border-radius: 10px;
  @include lg-min {
    grid-template-columns: repeat(7, 110px);    
}

@include md-min{
      grid-template-columns: repeat(7, 130px);    

  }

  @include sm-min {
    grid-template-columns: repeat(7, 90px);    
    
} 


@include sm-xs{
      grid-template-columns: repeat(8, 65px);    

  }

  
@include xs{
    grid-template-columns: repeat(8, 47px);    

}


  &__number{
      font-size: 25px;
  }
}


.calendar-container  a{
  background-color: $color-red-dark;
  color: #fff;
  cursor: pointer;

  &:hover{
      background-color: $color-red;
      font-size: 40px;
      transition: 1.5s;
  }
}

.calendar-months{
    font-size: 35px;
    position: relative;
    margin-top: 35px;
    text-align: center;
    margin-bottom: 5px !important;
}
.ph{
    font-size: 25px;
    color: $color-accent;
}

.stix{
    text-align: center;
    font-size: 1.3em;
    font-family: "PT Sans", sans-serif;
    color: $color-gray-dark;
    margin-bottom: 30px;
}